name: Sync to Hugging Face Hub

on: [push, workflow_dispatch]

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
          with: {ref: main, fetch-depth: 0, lfs: true}

        - name: Configure HF credentials
          env:
            HF_TOKEN: ${{ secrets.HF_TOKEN }}
          run: |
            git config --global credential.helper store
            printf "https://user:%s@huggingface.co\n" "$HF_TOKEN" > ~/.git-credentials

        - name: Push to Hugging Face
          run: |
            git remote add hf https://huggingface.co/spaces/Perazok/CaseStudy_1.git || true
            git push --force hf HEAD:main
